*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    font-family: 'roboto', sans-serif;
}
.hidden{
    display: none;
}
#start{
    margin-left: 0;
    padding-left: 0;
}
nav{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
    justify-content:space-between;
    z-index: 10; 
    /* margin-bottom: ;   */
}
.logo{
    height: 40px;
    margin: -7px 40px 0;
}
#menu{
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    padding: 10px;
}
#menu:hover{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.faic{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-conatiner{
    border: 1px solid #C6C6C6;
    border-radius: 20px;
    width: 30vw;
    height: 40px;
    gap: 0;
}
#search-bar{
    margin-left: 0.5px;
    padding: 10px;
    border: none; 
    width: 90%;
    height: 100%;
    outline: none;
    border-radius: 20px;
    border-top-right-radius:0;
    border-bottom-right-radius:0 ;
    font-size: 16px;
}
#search-button{
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    cursor: pointer;
    width: 10%;
    height: 100%;
    border-left: 1px solid  #C6C6C6;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#search-button:hover{
    background-color: rgb(216, 216, 216);
}
.user-options{
    height: 35px;
    display: flex;
    align-items: center;
}
.user-options span{
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
}
/* side bar */

.sidebar{
    position: fixed;
    top: 70px;
    left: 0;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 10px;
}

.sidebar-small{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 80px;
    width: 80px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 10px;
    
}

.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover,
.links.active{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #030303;
}

.seperator{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* filters */

.suggestions{
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
}

.suggestions-sidebar-closed{
    position: fixed;
    left: 80px;
    top: 60px;
    width: calc(100% - 80px);
}

.suggestions::-webkit-scrollbar{
    display: none;
}
.suggestion-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
}
.suggestion-options:hover{
    background-color: rgb(211, 211, 211);
}
.active{
    background-color: #030303;
    color: white;
}

/* videos */

.body{
    width: calc(100% - 250px);
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
}
.body-shrinked{
    margin-left: 80px;
    width: calc(100% - 80px);
}

.video{
    min-height: 250px;
    height: auto;
}

.thumbnail{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: stretch;
}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.info{
    width: 60%;
    height: 100%;
}
.thumbanils-content{
    width: 100%;
}
.title{
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.channel-name{
    height: auto;
    font-size: 14px;
    margin: 2px 0;
    color: #525252;
}
.thumbnail-container{
    display: flex;
}
.time{
    padding: 10px;
    position: relative;
    bottom: -4.5rem;
    background-color: #1b1b1bac;
    color: #f0f0f0;
    border-radius: 5px;
    right: 80px;
    width: 4rem;
    height: 25px;
    text-align: center;
    justify-content: center;
    border: none;

}
.logo2{
    display: none;
}
.bottom-menu{
    /* border: 5px solid red; */
    width: 100%;
    height: 10%;
    background-color: white;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    margin-bottom: 0;
    z-index: 10;
}
.aic{
    align-items: center;
    justify-content: center;
    color: #030303;
    padding: 0;
}
.aic img{
    display: flex;
    height: 30px;
    margin: -7px 5px 0;
}
.aic p{
    display: flex;
    margin: 1px -2px 0;
    font-size: 15px;
}
#sub{
    margin: 1px -25px 0;
}
.last{
    padding-right: 20px;
}

@media(1400px <= width <= 1600px) {
    .body{
        grid-template-columns: (3, 1fr);
    }
}
@media(max-width : 1200px){
    .sidebar{
        width: 65px;
        overflow-x: hidden;
    }
    .suggestions{
        position: fixed;
        left: 65px;
        top: 60px;
        width: calc(100% - 65px);
    }
    .body{
        margin-left: 65px;
        width: calc(100% - 70px);
    }
    .logo{
        height: 30px;
    }
}
@media (600px <= width <= 992px) {
    .body{
        grid-template-columns: repeat(3, 1fr);
        width: calc(100% - 80px);
    }
    
}
@media (max-width : 820px) {
    .body{
        grid-template-columns: repeat(2, 50%);
        width: calc(100% - 80px);
    }
    .logo{
        display:none;
    }
    .logo2{
        display: flex;
        height: 30px;
        margin: -7px 5px 0;
    }
    #menu{
        display: none;
    } 
}
@media (max-width : 600px) {
    .body{
        margin-top: 50px;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
    }
    .video{
        margin: 0;
        min-width: 120%;
        height: auto;
    }
    .suggestions{
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        height: 40px;
        padding: 0 2px;
    }
    .suggestion-options{
        font-size: 12px;
        cursor: pointer;
        height: 15px;
        padding-bottom: 20px;

    }
    #menu{
        display: none;
    }  
    .logo{
        display:none;
    }
    .logo2{
        display: flex;
        height: 30px;
        margin: -7px 5px 0;
    }
    .search-conatiner{
        margin-top: -10px;
        border: 1px solid #C6C6C6;
        /* border: 2px solid rebeccapurple; */
        border-radius: 20px;
        width: 75%;
        height: 4vh;
        gap: 0;
    }
    #search-bar{
        width: 80%;
        height: 3.5vh;
    }
    #search-button{
        justify-self: center;
        justify-content: center;
        align-items: center;
        font-size: medium;
        width: 20%;
        height: 3.6vh;
    }

    .video{
        min-height: 250px;
        width: 75vw;
    }
    #upload{
        display: none;
    }
    #notifications{
        display: none;
    }
    .bottom-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .sidebar{
        display: none;
    }
    
}