
#player{
    /* border: 2px solid red; */
    border-radius: 15px;
    width: 95vw;
    height: 80vh;
    /* position: fixed;
    left: 80px;
    top: 80px; */
}
#player-container{
    position: fixed;
    left: 2%;
    top: 80px;
    width: 95vw;
    height: 90vh;
    /* border: 5px solid green; */
    box-sizing: border-box;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.442); */
    /* border-radius: 30px; */
    overflow: hidden;
    overflow-y: scroll;
}
#player-container::-webkit-scrollbar{
    display: none;
}
.like-dislike{
    background-color: #F2F2F2;
   border: 1px solid #dbdbdb;
   border-radius: 30px;
   width: 150px;
   display: flex;
}
.description{
    /* border: 2px solid black; */
    height: auto;
    border-radius: 10px ;
    background-color: #F2F2F2;
    color: #161616;
    padding: 10px;
    font-size: 16px;
}
.description pre{
    /* font-family:Arial, Helvetica, sans-serif; */
    white-space: pre-wrap; /* Wraps the text */
    word-wrap: break-word; /* Breaks long words */
    background-color: #f4f4f4; /* Light grey background like <p> */
    padding: 10px; /* Adds padding similar to <p> */
    /* border: 1px solid #ddd; Adds border to look like a <p> */
    border-radius: 4px; /* Rounded corners */
    font-family: sans-serif;
    margin-top: 0;
}
.description p{
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#comments-conatiner{
    /* border: 2px solid blue; */
    width: 90vw;
    font-size: 16px;
    margin-left: 0;
    /* overflow: scroll; */
}
.comments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.comments img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
#channel-detail{
    /* border: 2px solid sienna; */
    width: 100%;
    height: auto;
}
.youtuber-details{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.channelLogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.channelLogo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    /* justify-content: space-around; */
}
.video-description{
    margin: 10px;
    margin-bottom: 0;
}
.channelLogo button{
    border: none;
    gap: px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
}
.action-buttons{
    display: flex;
    gap: 5px;
}
.action-buttons button{
    width: 100px;
    height: 40px;
    background-color:#F2F2F2;
    border-radius: 20px;
    border: none;
}
.like-dislike{
    gap: 0;
}
.like-dislike span{
    align-self: center;
    padding-left: 8%;
    padding-right: 0;
    margin-right: 0;
}
#like{
    border-right: 1px solid #b5b5b5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 90%;
}
#dislike{
    width: 10%;
}
@media (max-width : 600px) {
    #player{
        top: 80px;
        left: 0;
        width: 100%;
        height: 40vh;
        padding: 10px;
    }
    
    
}